
@import '../node_modules/normalize.css/normalize'
@import '../node_modules/sass-mediaqueries/_media-queries'

@import './generic/screens'
@import './generic/grid'

html
    height: 100%

    font: 100% 'Roboto', sans-serif

*
    box-sizing: border-box

    &:before
    &:after
        box-sizing: border-box

ul,
ol
    margin: 0
    padding: 0
    list-style: none
